.image-browser-zoom-btn {
    font-weight:    bold;
    display: block;
}
canvas {
    display: block;
    margin-top: -7.5%;
    margin-left: 59.4%;
    border: 3px groove lightgreen;
}
img {
    padding-bottom: 0;
}
h1 {
    width: 80%;
    text-align: center;
    font-family: Courier, monospace;
}
h3 {
    width: 80%;
    text-align: center;
    font-family: Courier, monospace;
}
.zoom-buttons {
    margin-top: -40%;
    margin-left: 78%;
    position: absolute;
}
.right-panel {
    float: right;
    width: 18%;
}
.keyboard-shortcuts-panel {
    background-color: bisque;
    border: 3px groove lightgreen;
    width: 80%;
}
body {
    background: rgb(9,145,46);
    background: linear-gradient(180deg, rgba(9,145,46,0.1) 22%, rgba(2,199,23,0.25) 77%);
}